.header {
    padding: 18px 0 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    &__logo {
        @include logo;
        font-size: 30px;
        text-align: center;
    }
    a {
        position: absolute;
        left: 25px;
        font-size: 18px;
        height: 18px;
        color: $color-bg-dark;
    }
}
