.header {
    padding: 1.2rem 0 0.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    &__logo {
        @include logo;
        font-size: 1.9rem;
        text-align: center;
    }
    a {
        position: absolute;
        left: 25px;
        font-size: 18px;
        height: 18px;
        color: $grey-dark;
    }
}
