// purple/pink gradient button
.gradient-button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    padding: 0 20px 0 20px;
    margin: 15px;
    border-radius: 30px;
    background: $color-gradient;
    color: white;
    @include shadow-light;
    transition: 400ms ease-in-out;

    &:hover {
        opacity: 0.8; //on hover the button lightens
        @include shadow-dark;
    }
}

// button-like steps from main page
.step {
    display: flex;
    align-items: center;
    background-color: $grey-light;
    min-height: 75px;
    position: relative;
    border-radius: 20px;
    @include shadow-light;
    margin-left: 12px;
    padding-right: 15px;
    transition: 400ms ease-in-out;

    &:hover {
        background-color: #f5edff; //on hover the bg changes its color
        @include shadow-dark;
    }

    &:hover i {
        color: $color-primary; //on hover the icon changes its color
    }

    &__number {
        height: 25px;
        width: 25px;
        border-radius: 50%;
        background-color: $color-primary;
        color: white;
        font-size: 0.9em;
        text-align: center;
        line-height: 25px;
        position: absolute;
        left: -12px;
    }

    i {
        font-size: 1.1em;
        color: #7e7e7e;
        margin: 0 25px 0 35px;
    }

    &__text {
        font-weight: 700;
    }

    @include for-desktop {
        flex: 1;
    }
}



//heart shaped like button with its container

.like-btn-container {
    display: flex;
}

.like-btn {
    position: absolute;
    z-index: 1;
    background-color: white;
    font-size: 1.7em;
    transition: opacity 800ms ease-in-out;

    &--menu {
        background-color: $grey-light; //different bg for menu pages
    }

    &:hover {
        opacity: 0; //empty heart disappears revealing the gradient button
    }

    &--color {
        font-size: 1.7em;
        background: $color-gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}