// purple/pink gradient button
.gradient-button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    padding: 0 20px 0 20px;
    margin: 15px;
    border-radius: 30px;
    background: $color-gradient;
    color: white;
    @include shadow-light;
    transition: 400ms ease-in-out;

    &:hover {
        opacity: 0.8; //on hover the button lightens
        @include shadow-dark;
    }
}





