// how-to steps from main page
.step {
    display: flex;
    align-items: center;
    background-color: $grey-light;
    min-height: 75px;
    position: relative;
    border-radius: 20px;
    @include shadow-light;
    margin-left: 12px;
    padding-right: 15px;
    transition: 400ms ease-in-out;

    &:hover {
        background-color: #f5edff; //on hover the bg changes its color
        @include shadow-dark;
    }

    &:hover i {
        color: $color-primary; //on hover the icon changes its color
    }

    &__number {
        height: 25px;
        width: 25px;
        border-radius: 50%;
        background-color: $color-primary;
        color: white;
        font-size: 0.9em;
        text-align: center;
        line-height: 25px;
        position: absolute;
        left: -12px;
    }

    i {
        font-size: 1.1em;
        color: #7e7e7e;
        margin: 0 25px 0 35px;
    }

    &__text {
        font-weight: 700;
    }

    @include for-desktop {
        flex: 1;
    }
}