//heart shaped like button with its container

.like-btn-container {
    display: flex;
}

.like-btn {
    position: absolute;
    z-index: 1;
    background-color: white;
    font-size: 1.7em;
    transition: opacity 800ms ease-in-out;

    &--menu {
        background-color: $grey-light; //different bg for menu pages
    }

    &:hover {
        opacity: 0; //empty heart disappears revealing the gradient button
    }

    &--color {
        font-size: 1.7em;
        background: $color-gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}