* {
    box-sizing: border-box;
   }
body {
    font-family: Roboto, sans-serif;
    margin: auto;
    max-width: 1440px;
}
a {
    text-decoration: none;
    color: inherit;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}