img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;

    @include for-big-desktop {
        border-radius: 20px 20px 0 0;
    }
}

.menu {
    background: $grey-light;
    position: relative;
    top: -40px; // to overlap the pic
    z-index: 1;
    border-radius: 40px 40px 0 0;
    padding: 0 15px 40px 15px;
    margin-bottom: -40px; // to avoid blank space since the top is -40px

    &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 100px;

        h2 {
            font-family: Shrikhand;
            font-weight: 400;
            font-size: 1.7em;
        }

        i {
            margin-right: 20px;
        }
    }
}


.submenu-container {
    //displays submenus in 1 column on phone and tablet and 3 columns on desktop
    display: grid;
    margin-bottom: 20px;

    @include for-desktop {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 15px;
    }
}

.submenu {
    max-width: 100%;
    overflow: hidden;
    margin-bottom: 20px;

    h3 {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 1em;

        &::after {
            // green underline 
            content: " ";
            display: block;
            height: 3px;
            width: 40px;
            background-color: $color-tertiary;
            margin-top: 5px;
        }
    }
}

.order-btn {
    display: flex;
    justify-content: center;
    flex-grow: 0;

    .gradient-button {
        padding: 0 50px;
    }
}