// loading animation
@keyframes loading {
  100% {
    opacity: 0%;
    visibility: hidden //hide the white block at the end of loading
  }
}

//loading logo
 @keyframes spinner {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

// the submenu buttons appear slowly and gently park on top
@keyframes submenu {
  0% {
    opacity: 0;
    translate: 0 15px;
  }
  100% {
    opacity: 100;
    translate: 0;
  }
}



