// ohmyfood logo
@mixin logo {
    font-family: Shrikhand;
    font-weight: 400;
    margin: 0;
}

// titles of sections

@mixin section-titles {
    font-size: 1.5rem;
    font-weight: 900;
    margin: 0;
}

// padding of sections

@mixin container-padding {
    padding: 45px 20px;
}

// heart/like button

@mixin like-btn {
    font-size: 1.7em;
}

