// ohmyfood logo
@mixin logo {
    font-family: Shrikhand;
    font-weight: 400;
    margin: 0;
}

// titles of sections
@mixin section-titles {
    font-size: 1.5rem;
    font-weight: 900;
    margin: 0;
}

// padding of sections
@mixin container-padding {
    padding: 45px 20px;
}

//box shadow
@mixin shadow-light {
    box-shadow: 0px 9px 12px -9px rgba(0, 0, 0, 0.5);
}

@mixin shadow-dark {
    box-shadow: 0px 9px 12px -9px rgba(0, 0, 0, 0.9);
}

//media queries
@mixin for-tablet {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin for-desktop {
    @media (min-width: 1024px) {
        @content;
    }
}

@mixin for-big-desktop {
    @media (min-width: 1440px) {
        @content;
    }
}