// ohmyfood logo
@mixin logo {
    font-family: Shrikhand;
    font-weight: 400;
    margin: 0;
}


// purple/pink gradient button

@mixin button {
    display: block;
    height: 50px;
    width: 220px;
    background: $color-bg-button;
    box-shadow: 0px 10px 17px -9px rgba(0,0,0,0.5);
    border-radius: 30px;
    text-align: center;
    line-height: 50px;
    font-size: 15px;
    font-weight: 400;
    color: white;
    &:hover {
        background: $color-bg-button-hover;
    }
}

// titles of sections

@mixin section-titles {
    font-size: 25px;
    font-weight: 700;
    margin: 0;
}

// padding of sections

@mixin container-padding {
    padding: 45px 20px;
}


// heart/like button

@mixin heart-btn {
    font-size: 28px;
}